# Dados grandes (nao versionar)
dados/raw_downloads/
dados/bronze/trips/
dados/streaming/
dados/spark-temp/
dados/**/*.zip
dados/**/*.csv
dados/**/*.parquet
dados/**/*.json
dados/**/*.crc

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
dist/
build/

# Spark
metastore_db/
derby.log
spark-warehouse/

# Experimentos locais (regerados pelo Notebook 06)
dados/mlruns/
dados/models/
dados/gold/predictions/_delta_log/
dados/gold/predictions/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

venv/
./venv/
/venv/
