# Dados grandes (nao versionar)
dados/raw_downloads/
dados/bronze/trips/
dados/streaming/
dados/spark-temp/
dados/**/*.zip
dados/**/*.csv
dados/**/*.parquet
dados/**/*.json
dados/**/*.crc

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
dist/
build/

# Spark
metastore_db/
derby.log
spark-warehouse/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

venv/
./venv/
/venv/
